{% extends 'studio/navbar.html' %}
{% load static %}
{% block content %}


<section style="color:#fff;padding:50px;" id="modifica_cliente">

    <h2 class="mb-3">Registra un nuovo STUDIO</h2>
    <form method="post">
        {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text">Denominazione</span>
        {{form.denominazione}}
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text">Città</span>
        {{form.city}}
        <span class="input-group-text">Indirizzo</span>
        {{form.indirizzo}}
      </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Partita IVA</span>
    {{form.partita_iva}}
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">Codice Fiscale</span>
    {{form.codice_fiscale}}
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">Fax</span>
    {{form.fax}}
    <span class="input-group-text">Email</span>
    {{form.email}}
  </div>

  
  
  <div class="input-group mb-3">
    <span class="input-group-text">Sito Web</span>
    {{form.sito_web}}
    <span class="input-group-text">Numero Telefono</span>
    {{form.telefono}}
  </div>

  <button type="submit" class="btn btn-primary mb-3">Registra Studio</button>

  {% if form.errors %}
  <div class="alert alert-danger">
    <h4>{{form.errors}}</h4>
  </div>
  {% endif %}
</form>
</section>

<script>
 
        var cols = document.getElementsByTagName("input");
        for(i = 0; i < cols.length; i++) {
          cols[i].className = 'form-control';
        }
        document.getElementById('id_studio').className = 'form-select';
      
</script>



{% endblock content %}