<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestionale Solomon</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/db6ff0c9b0.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body class="bg-light text-dark">

    
<div class="container" id="container">
    <h1>Scheda identificazione cliente fini antiriciclaggio</h1>
    <h5>{{cliente.informat_cons}}</h5>
    <h2>Legali rappresentati</h2>
    {% for i in cliente.legale_rappresentate.all%}
    <h5>Nome e cognome: {{i.nome}} {{i.cognome}}</h5>
    <h5>Sesso M F</h5>
    <h5>Luogo Nascita {{i.luogo_nascita}}, Nato il {{i.data_nascita}}</h5>
    <h5> Indirizzo {{i.indirizzo}}, comune:{{i.city}} </h5>
    {%endfor%}
<style>
    td{
        min-height: 100px;
    }
</style>
<h1>Titotale Esecutivo</h1>
    <table class="table table-bordered mb-4">
        <thead>
          <tr>
            <th scope="col"><h5>Nome e Cognome</h5></th>
            <th scope="col"><h5>Luogo Nascita</h5></th>
            <th scope="col"><h5>Data Nascita</h5></th>
            <th scope="col"><h5>Comune Residenza</h5></th>
            <th scope="col"><h5>Codice Fiscale</h5></th>
            <th scope="col"><h5>Persona Politicamente Esposta</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

<h1>Esecutore</h1>
      <table class="table table-bordered mb-4">
        <thead>
          <tr>
            <th scope="col"><h5>Nome e Cognome</h5></th>
            <th scope="col"><h5>Luogo Nascita</h5></th>
            <th scope="col"><h5>Data Nascita</h5></th>
            <th scope="col"><h5>Comune Residenza</h5></th>
            <th scope="col"><h5>Codice Fiscale</h5></th>
            <th scope="col"><h5>Persona Politicamente Esposta</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

<h1>Descrizione e valore della prestazione fornita</h1>
      <table class="table table-bordered mb-4">
        <thead>
          <tr>
            <th scope="col"><h5>Prestazione</h5></th>
            <th scope="col"><h5>Valore della prestazione</h5></th>
            <th scope="col">.</th>
            <th scope="col"><h5>Se di valore non determinabile</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>:</td>
            <td></td>
            <td>
            <td>
            </td>
            </td>
            
            
          </tr>
          <tr>
            <td>:</td>
            <td></td>
            <td>
                <td>
                </td>
                </td>
        </tr>
          <tr>
            <td>:</td>
            <td></td>
            <td>
                <td>
                </td>
                </td>
          </tr>
        </tbody>
      </table>
      <br><br><br>
      <div class="w-25">
      <h5>Forlì, lì {{cliente.data_inizio}}</h5>
      <br>
      <br>
      <hr/>
    </div>
      <br>
</div>

    <script>
        var mapObj = {
            _nome:"{{cliente.nome}}",
            _cognome:"{{cliente.cognome}}",
            _ragione_sociale:"{{cliente.ragione_sociale}}",
            _data_costituzione : "{{cliente.data_costituzione}}",
            _capo:"<br>",
            _indirizzo:"{{cliente.indirizzo}}",
            _città:"{{cliente.city}}",
            _codice_fiscale:"{{cliente.codice_fiscale}}",
            _partita_iva:"{{cliente.partita_iva}}",
            _natura_giuridica:"{{cliente.natura_giuridica}}",
            _data_costituzione:"{{cliente.data_costituzione}}",
            _luogo_nascita:"{{cliente.luogo_nascita}}",
            _data_nascita:"{{cliente.data_nascita}}",
            _comune:"{{cliente.comune}}",
            _tipo_documento:"{{cliente.tipo_documento}}",
            _data_rilascio:"{{cliente.data_rilascio}}",
            _autorità:"{{cliente.autorità}}",
            _numero:"{{cliente.numero}}",
            _studio_denominazione:"{{cliente.studio}}",
            _studio_partita_iva:"{{cliente.studio.partita_iva}}",
            _studio_indirizzo :"{{cliente.studio.indirizzo}}",
            _studio_città :"{{cliente.studio.city}}",
            _studio_telefono :"{{cliente.studio.telefono}}",
            _studio_email : "{{cliente.studio.email}}",
            _studio_codice_fiscale : "{{cliente.studio.codice_fiscale}}",
         };

        let str = document.getElementById("container").innerHTML; 
        let res = str = str.replace(/_nome|_cognome|_ragione_sociale|_data_costituzione|_capo|_città|_indirizzo|_codice_fiscale|_partita_iva|_natura_giuridica|_data_costituzione|_luogo_nascita|_data_nascita|_comune|_tipo_documento|_data_rilascio|_autorità|_numero|_studio_denominazione|_studio_email|_studio_telefono|_studio_città|_studio_indirizzo|_studio_partita_iva|_studio_codice_fiscale/gi, function(matched){
            return mapObj[matched];
          });
        
        document.getElementById("container").innerHTML = res;

        
        
        window.onload = function CreatePDFfromHTML() {
            var HTML_Width = $("body").width();
            var HTML_Height = $("body").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;
        
            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
        
            html2canvas($("body")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) { 
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
                }
                pdf.save("Your_PDF_Name.pdf");
               // $("body").hide();
            });
        };
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>



